body {
  background-image: url(yjw.jpg);
}

h1,
h2,
h3 {
  text-align: center;
  color: #ffad2f;
  background-color: #fff;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

#time {
  font-size: 0.6em;
  text-align: center;
  color: #a913bd;
}

label {
  color: #ff2f9a;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 25%;
  margin-top: 22px;
}

input[type='checkbox'] {
  transform: scale(2.5);
}

button {
  display: block;
  width: 140px;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5em;
  background-color: #ff2f9a;
}
